<div class="container-fluid bg-img">
<div class="container login-page">
  <div class="panel panel-default">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href data-target="#login">Login</a></li>
    <li><a data-toggle="tab" href data-target="#register">Register</a></li>
  </ul>
 <form method="get" ng-submit="twitterLogin()">
  <button type="submit" class="btn btn-primary" >TwitterLogin</button>
  </form>

  <div class="tab-content">
    <div id="login" class="tab-pane fade in active" ng-controller="UserAuthCtrl">
      <form class="form-horizontal" method="post" ng-submit="signIn()" method="post” name="signin”></br>
          <div class="form-group">
              <label for="email-id" class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3 ">Email:</label>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                  <input type="email" class="form-control" id="email-id" placeholder="Email" ng-model="email">
              </div>
          </div>
          <div class="form-group">
              <label for="password" class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3">Password:</label>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                  <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password" required>
                  <div class="clear-fix checkbox">
                      <label><input type="checkbox"> Remember me</label>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <label for="name" class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3 "></label>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                  <button type="submit" class="btn btn-primary">Login</button>
              </div>
          </div>
      </form>
    </div>
    <div id="register" class="tab-pane fade" ng-controller="UserAuthCtrl">
      <form class="form-horizontal" id="register-form-id" ng-submit="register()"></br>
          <div class="form-group">
              <label for="name" class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3 ">Full Name:</label>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                  <input type="text" class="form-control" id="name" placeholder="Full Name" ng-model="fullname" required>
              </div>
          </div>
          <div class="form-group">
              <label for="reg-email" class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3 ">Email:</label>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                  <input type="email" class="form-control" id="reg-email" placeholder="Email" ng-model="email" required>
              </div>
          </div>
          <div class="form-group">
              <label for="telephone" class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3 ">Phone Number:</label>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                  <input type="tel" class="form-control" id="telephone"  maxlength="14" placeholder="Phone Number" ng-model="phoneNumber" required>
              </div>
          </div>
          <div class="form-group">
              <label for="reg-password" class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3">Password:</label>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                  <input type="password" class="form-control" id="reg-password" placeholder="Password" ng-model="password" required>
              </div>
          </div>
          <div class="form-group">
              <label for="ConfirmPassword" class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3">Confirm Password:</label>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                  <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password" ng-model="confirmPassword" required>
              </div>
          </div>
          <div class="form-group">
              <label for="usertype" class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3">Register as:</label>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                <label class="radio-inline">
                  <input type="radio" class="form-control" id="Chef" name="usertype" value="Chef" ng-model="usertype">Chef
                </label>
                <label class="radio-inline">
                  <input type="radio" class="form-control" id="Customer" name="usertype" value="Customer" ng-model="usertype">Customer
                </label>
              </div>
          </div>
          <div class="form-group">
              <label for="name" class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3 "></label>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                  <button type="submit" class="btn btn-primary">Sign Up</button>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</body>